@use 'submodules/mixin' as mix;

.footer ul {
    @include mix.inline-list();
    li {
        padding: 0.4em;
        background-color: coral;
        a {
            color: white;
            text-decoration: none;
        }
    }
}