@use 'submodules/mixin' as mix;

.header ul {
    @include mix.inline-list();
    li {
        background-color: black;
        padding: 0.7em;
        a {
            color: white;
            text-decoration: none;
        }
    }
}